/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply p-2 border-2 border-blue-600 rounded-md disabled:bg-slate-500 disabled:border-none;
}
